// fonts

$browser-context: 16;

$ff-primary: sans-serif;
$ff-secondary: serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-text-xs: 14px;
$fs-text-sm: 16px;
$fs-text-md: 20px;
$fs-text-lg: 24px;